$color-white: #fff;
$color-blue:#1b5cce;
$color-darkblue: #1a2b57;
$color-lightblue: #5273c7;
$color-red:#fa3840;
$color-gray:#8f8f8f;
$color-lightgray:#f8faff;
$color-black: #121821;
$color-gray-font: #707070;
$color-whitegray-background: #E6E6E6;
$color-whitegray-text: #999999;
$color-active-tab-button: #0B4F77;
$color-accordion-text-color: #4D4D4D;
$color-explore-button: #0F699E;
$color-pink-background: #DA7D81;